
<!-- Sidebar current contains recent_posts, about_author, and social_links, and
		categories panels.
-->

{{ $section := or (index .Site.Data.section (or .Section (or .Data.Singular .Title))) .Params }}
{{ $components := or $section.components .Site.Data.null }}

<aside class="content-secondary col-md-3 column">
	<div class="row clearfix">
		<div class="col-xs-12 col-sm-6 col-md-12 column">
			{{ partial "components/about_author.html" . }}
		</div>
		<div class="col-xs-12 col-sm-6 col-md-12 column">
			{{ partial "components/recent_posts.html" . }}
		</div>
	</div>

	<div class="row clearfix">
		<div class="col-xs-12 col-sm-6 col-md-12 column">
			{{ partial "components/social_links.html" . }}
		</div>
		<div class="col-xs-12 col-sm-6 col-md-12 column">
			{{ partial "components/categories.html" . }}
		</div>
	</div>
	<!--
	<div class="row clearfix">
		{ { partial "components/ads.html" . }}
	</div>
	-->
</aside>

