{{ if .Params.page }}
	{{ partial .Params.page . }}
{{ else }}
{{ partial "header.html" . }}


	{{ partial "content_header.html" . }}
		<div class="article-content">{{ .Content }}</div>
	{{ partial "content_footer.html" . }}

{{ partial "footer.html" . }}
{{ end }}


{{/*
<div class="carousel slide" id="carousel-403160">
	<ol class="carousel-indicators">
		<!--List item 'buttons' should equal number of slides-->
		<li class="active" data-slide-to="0" data-target="#carousel-403160"></li>
		<li data-slide-to="1" data-target="#carousel-403160"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img alt="{{ .Title }}" src="{{ .Permalink }}">
			<div class="carousel-caption">
				{{ with .Title }}<h4>{{ . }}</h4>{{ end }}
				{{ with .Description }<p>{{ . }}}</p>{{ end }}
			</div>
		</div>
		<div class="item">
			<img alt="" src="http://lorempixel.com/1600/500/sports/2">
			<div class="carousel-caption">
				<h4>Second Thumbnail label</h4>
				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#carousel-403160" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span></a>
	<a class="right carousel-control" href="#carousel-403160" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
*/}}

