
{{ $authorPage := index (where .Site.Sections.author.Pages ".Params.term" ((or .Params.author $.Site.Author.name)|lower|urlize)) 0 }}
{{ $name := $authorPage.Params.name }}

{{ if (or (eq .Section "author") (eq .Title "Authors")) }}
{{ else }}
<div class="list-group">
	<div class="list-group-item">
	<div class="row clearfix">
	{{ with $authorPage }}
		{{ $author := .Params }}
		{{ if $author.thumbnail }}
			<div class="col-xs-4 col-sm-4 col-md-12 column">
				<div class="thumbnail">
					<a href="{{ $authorPage.Permalink }}">
					 <img src="{{ $author.thumbnail }}" title="{{ $author.name }}"
					 class="img-responsive center-block"></a>
				</div>
				<div class="voffset-10"></div>
			</div>
		{{ end }}
		<div class="col-xs-8 col-sm-8 col-md-12 column">
			<p class="text-justify">{{ .Summary }}</p>
		</div>
	{{ end }}
	</div>
	</div>
</div>
{{ end }}

