<!--
	See `components/breadcrumbs.md` in the docs.
-->

{{ $section := or (index .Site.Data.section (or .Section (or .Data.Singular (.Title|lower)))) .Params }}
{{ $breadcrumbs := $section.breadcrumbs }}
{{ $components := or $section.components .Site.Data.null }}


{{ if (and $components.breadcrumbs (ne $section.title .Site.Data.section.site.title)) }}
<!-- Hide last defined breadcrumb page if the Title is equal to the current page's title -->
{{ $doAppend := or $breadcrumbs.append_current_page (not (isset $breadcrumbs "append_current_page")) }}
<div class="row">
	<div class="voffset-15"></div>
	
	<ul class="breadcrumb list-unstyled">
	{{ $items := $breadcrumbs.item }}
	
	{{ if (not $items) }}
		<li><a href="/">Home</a><span class="divider"></span></li>
		{{ if $section.title }}
			<li><a href="/{{ or .Section (or .Data.Plural "") | lower | urlize }}">
				{{ $section.title }}</a><span class="divider"></span></li>
		{{ end }}
		{{ if (and $doAppend $.IsPage) }}
			<li class="active">{{ $.Title | title }}</li>
		{{ end }}
	{{ else }}
		{{ $hideLast := eq $.Title (index $breadcrumbs.item (sub (len $breadcrumbs.item) 1)).title }}
		<!--The last one may be hidden because it should be appended and be "active" -->
		{{ range $index, $item := $breadcrumbs.item }}
			{{ if (or (not $hideLast) (ne (print $index) (print (sub (len $items) 1)))) }}
				<li><a href="{{ $item.url }}">{{ $item.title | title }} </a>
					<span class="divider"></span></li>
			{{ end }}
		{{ end }}
		{{ if $doAppend }}
			<li class="active">{{ $.Title | title }}</li>
		{{ end }}
	{{ end }}
	</ul>
	<div class="voffset-20"></div>
</div>
{{ end }}

