
{{ $section := or (index .Site.Data.section (or .Section (or .Data.Singular (.Title|lower)))) .Params }}
{{ $components := or $section.components .Site.Data.null }}

{{ if (and $.IsNode $components.page_header) }}
<div class="voffset-30"></div>
<div class="">
	<h1 class="page-title">{{ (or $section.page_header.title $section.title) | title }}</h1>
</div>
{{ else if (and $.IsPage $components.page_content_header) }}
<div class="voffset-30"></div>
<div class="">
	<h1 class="page-title">{{ .Title | title }}</h1>
</div>
{{ end }}


