
<!--Displays the Content Pages belonging to the Series defined by the current
	page. This is different from `series.html` because the other is shown on a
	content page that is WITHIN a Series.
-->
{{ $section := or (index .Site.Data.section (or .Section (or .Data.Singular (.Title|lower)))) .Params }}

{{ if (eq .Section "series") }}
<div class="panel panel-default">
	<div class="panel-heading text-primary">Articles within this series:</div>
	<ul class="list-group list-unstyled">
	{{ range $page := where .Site.Pages.ByDate ".Params.series" (.Title | lower | urlize) }}
		<a class="list-group-item" href="{{ .Permalink }}">
			<span class="text-primary">{{ .Title | title }}</span>
			<span class="pull-right">
				{{ with (or $section.date_format $.Site.Params.date_format_short) }}{{ $page.Date.Format . }}
				{{ else }}{{ $page.Date.Format "Jan 2" }}{{ end }}
			</span>
		</a>
	{{ end }}
	</ul>
</div>
{{ end }}


