
<!-- Sidebar current contains recent_posts, about_author, and social_links, and
		categories panels.
-->

{{ $section := or (index .Site.Data.section (or .Section (or .Data.Singular (.Title|lower)))) .Params }}
{{ $components := or $section.components .Site.Data.null }}

<div class="row clearfix">
	<div class="col-xs-12 col-sm-6 col-md-12 column">
		{{ partial "default/about_author.html" . }}
	</div>
	<div class="col-xs-12 col-sm-6 col-md-12 column">
		{{ partial "default/recent_posts.html" . }}
	</div>
</div>

<div class="row clearfix">
	<div class="col-xs-12 col-sm-6 col-md-12 column">
		{{ partial "default/social_links.html" . }}
	</div>
	<div class="col-xs-12 col-sm-6 col-md-12 column">
		{{ partial "default/categories.html" . }}
	</div>
</div>
<!--
<div class="row clearfix">
	{ { partial "default/ads.html" . }}
</div>
-->

