{{ partial "header.html" . }}

<div class="col-md-9 column">
	<div class="section panel panel-default">
		<div class="article panel-body">
			<div class="voffset-20"></div>
			<a href="{{ .Permalink }}"><h1 class="title">{{ .Title | title }}</h1></a>
			<div class="voffset-10"></div>
			<aside class="article-meta vcenter">
				<date>{{ .Date.Format "Jan 2, 2006" }}</date>
				{{ with .Params.Author }}
					- <a href="{{ $.Site.BaseUrl }}/about/{{ . }}" class="author">{{ . }}</a>
				{{ else }}{{ with $.Site.Author.name }} 
						- <a href="{{ $.Site.BaseUrl }}/about" class="author">{{ . }}</a>
				{{ end }}{{ end }}
			</aside>
		
			<div class="voffset10"></div>
			{{ .Content }}
		
			<ul class="list-group list-unstyled">
			<!-- Get a list of pages within the `Taxonomy`.
				Uses the current `Section` as the Taxonomy's name
			-->
			{{ range (index (index .Site.Taxonomies .Section) (.Title | lower | urlize)).Pages.ByDate }}
				<a href="{{ .Permalink }}" class="list-group-item">
					{{ .Title }}
					<div class="pull-right">{{ .Date.Format "Jan 02" }}</div>
				</a>
			{{ end }}
			</ul>
		</div>
		<div class="panel-footer">
			{{ partial "share_buttons.html" . }}
			<div class="voffset20"></div>
			{{ partial "comments_ondemand.html" . }}
		</div>
	</div>
</div>

<div class="content-secondary col-md-3 column">{{ partial "sidebar.html" . }}</div>
{{ partial "footer.html" . }}


