{{ partial "header.html" . }}

{{ partial "main_begin.html" . }}
	{{ partial "content_header.html" . }}
	<div class="article-content">{{ .Content }}</div>
	<div class="voffset20"></div>
	<div class="panel panel-default">
		<div class="panel-heading text-primary">Articles within this series:</div>
		<ul class="list-group list-unstyled">
		{{ range where .Site.Pages.ByDate ".Params.series" (.Title | lower | urlize) }}
			{{ .Render "li" }}
		{{ end }}
		</ul>
	</div>
	{{ partial "content_footer.html" . }}
{{ partial "main_end.html" . }}

{{ partial "footer.html" . }}

