{{ partial "header.html" . }}

<!-- Not sure if this template will ever be used. Hence, not supproted an may contain errors -->

<div class="col-md-9 column">
{{ range .Data.Pages.ByDate.Reverse }}
	<div class="section panel panel-default">
		{{ .Render "li" }}
		<div class="panel-footer">
			{{ partial "continue_reading+comment_count.html" . }}
		</div>
	</div>
{{ end }}
</div>


<div class="content-secondary col-md-3 column">{{ partial "sidebar.html" . }}</div>
{{ partial "footer.html" . }}


