{{ partial "header.html" . }}

<!-- Use "text-muted" and "text-primary" to invert the breadcrumb text colors -->

{{ partial "main_begin.html" . }}
	<div class="voffset-20"></div>
	<!-- page-header -->
	<div class="container"><h1>{{ .Title | title }}</h1></div>
	<div class="section panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="voffset-10"></div>
				<ul class="breadcrumb list-unstyled">
					<li><a href="{{ $.Site.BaseUrl }}">Home </a>
					 <span class="divider"></span></li>
					<!--"Pages" is hidden from URL, so hide from breadcrumbs as well-->
					{{ if (ne $.Data.Singular "Page") }}
						<li><a href="{{ $.Site.BaseUrl }}/{{ $.Data.Plural | lower | urlize }}">
							{{ $.Data.Plural | title }} </a>
						 <span class="divider"></span></li>
					{{ end }}
					<li class="active">{{ .Title | title }}</li>
				</ul>
				<div class="voffset-30"></div>
			</div>
		</div>
		{{ if (not .Data.Pages ) }}
			<div class="panel-body">
				<h4 class="text-muted">No content found matching this criteria</h4>
			</div>
		{{ else }}
			<ul class="list-group list-unstyled">
			<!-- Group by Year, only if there is more than one year?
			{ { range .Data.Pages.GroupByDate "2006-01" }}
			{ { .Key }}
			{ { range .Pages }}
			-->
			{{ range .Data.Pages }}
				<a class="list-group-item" href="{{ .Permalink }}">
					<span class="text-primary">{{ .Title | title }}</span>
					<span class="pull-right">{{ $date := .Date }}
						{{ with $.Site.Params.date_format_short }}{{ $date.Format . }}
						{{ else }}{{ $date.Format "Jan 2" }}{{ end }}
					</span>
				</a>
			{{ end }}
			</ul>
		{{ end }}
	</div>
{{ partial "main_end.html" . }}

{{ partial "footer.html" . }}


