{{ partial "header.html" . }}

{{ partial "main_begin.html" . }}
		{{ partial "components/breadcrumbs.html" . }}
		{{ if (not .Data.Pages ) }}
			{{ partial "components/content/no_content_found.html" . }}
		{{ else }}
			<ul class="list-group list-unstyled">
			<!-- Group by Year, only if there is more than one year?
			{ { range .Data.Pages.GroupByDate "2006-01" }}
			{ { .Key }}
			{ { range .Pages }}
			-->
			{{ range .Data.Pages }}
				<a class="list-group-item" href="{{ .Permalink }}">
					<span class="text-primary">{{ .Title | title }}</span>
					<span class="pull-right">{{ $date := .Date }}
						{{ with $.Site.Params.date_format_short }}{{ $date.Format . }}
						{{ else }}{{ $date.Format "Jan 2" }}{{ end }}
					</span>
				</a>
			{{ end }}
			</ul>
		{{ end }}
	</div>
{{ partial "main_end.html" . }}

{{ partial "footer.html" . }}


