<!--
	See `carousel.md` in the docs
-->

{{ $section := index $.Site.Data.section (or $.Section "homepage") }}
{{ $components := or $section.components $section }}

<!--Show Carousel if it is true within Content, or Content hasn't set Carousel
		and it is true within Section.
	Also, Carousel object data and Carousel items must exist.
-->
{{ $doShow := or .Params.components.carousel (and (not (isset .Params.components "carousel")) $components.carousel) }}
{{ $carousel := or .Params.carousel $section.carousel }}


{{ with (and $doShow $carousel) }}
{{ $id := (or .id ((print $section.title "-" $.Title) | lower | urlize)) }}

{{ if (and (not .full_width) (isset . "full_width")) }}<div class="container">{{ end }}
<div id="{{ $id }}" class="carousel slide"
	style="{{ with .bg_color }}background-color:{{ . | safeCss }};{{ end }}
		{{ with .margin_top }}margin-top: {{ . | safeCss}};{{ end }}"
>
	<ol class="carousel-indicators">
		{{ range $index, $slide := .slide }}
			<li {{ if (eq $index 0) }}class="active"{{ end }}
				data-slide-to="{{ $index }}" data-target="#{{ $id }}">
			</li>
		{{ end }}
	</ol>
	<div class="carousel-inner">
	{{ range $index, $slide := .slide }}
		<div class="carousel-slide item {{ if (eq $index 0) }}active{{ end }}">
			<img src="{{ or $slide.graphic $carousel.graphic }}" alt="" style="float:none; margin:0 auto;{{ with .height }}height:{{ . | safeCss }};{{ end }}">
			<div class="carousel-caption" style="{{ with or $slide.text_bg_color $carousel.text_bg_color }}background-color:{{ . | safeCss }};{{ end }}">
				{{ $color := or .text_color $carousel.text_color }}
				{{ if $slide.title }}
					<h4 style="{{ with $color }}color:{{ . | safeCss }};{{ end }}">
						{{ $slide.title }}</h4>
				{{ end }}
				{{ if $slide.text }}
					<p style="{{ with $color }}color:{{ . | safeCss }};{{ end }}">
						{{ $slide.text }}</p>
				{{ end }}
			</div>
		</div>
	{{ end }}
	</div>
	<a class="left carousel-control" href="#{{ $id }}" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span></a>
	<a class="right carousel-control" href="#{{ $id }}" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
{{ if (and (not .full_width) (isset . "full_width")) }}</div>{{ end }}
{{ end }}


