<!--
	Carousel element's data:
	[[carousel]]
		title = ""
		descrition = ""
		graphic = ""
		width = 0
		height = 0
-->

{{ if .Params.carousel }}
{{ $id := (or .Params.carousel_id ((index .Params.carousel 0).title | lower | urlize)) }}
<div class="carousel slide" id="{{ $id }}">
	<ol class="carousel-indicators">
		{{ range $index, $elem := .Params.carousel }}
			<li {{ if (eq $index 0) }}class="active"{{ end }}
				data-slide-to="{{ $index }}" data-target="#{{ $id }}}">
			</li>
		{{ end }}
	</ol>
	<div class="carousel-inner">
	{{ range $index, $elem := .Params.carousel }}
		<div class="item {{ if (eq $index 0) }}active{{ end }}">
			<img src="{{ $elem.graphic }}" alt="">
			<div class="carousel-caption">
				{{ with $elem.title }}<h4>{{ . }}</h4>{{ end }}
				{{ with $elem.description }}<p>{{ . }}}</p>{{ end }}
			</div>
		</div>
	{{ end }}
	</div>
	<a class="left carousel-control" href="#{{ $id }}" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span></a>
	<a class="right carousel-control" href="#{{ $id }}" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
{{ end }}


