
{{ with $.Site.Params.twitter }}<a href="//twitter.com/{{ . }}" class="list-group-item">
	<li><i class="fa fa-twitter-square pull-right social-icon text-info"></i> Twitter</li></a>{{ end }}

{{ with $.Site.Params.github }}<a href="//www.github.com/{{ . }}" class="list-group-item">
	<li><i class="fa fa-github-square pull-right social-icon text-info"></i> Github</li></a>{{ end }}

{{ with $.Site.Params.bitbucket }}<a href="//bitbucket.org/{{ . }}" class="list-group-item">
	<li><i class="fa fa-bitbucket-square pull-right social-icon text-info"></i> Bitbucket</li></a>{{ end }}

{{ with $.RSSLink }}<a href="{{ . }}" class="list-group-item">
	<li><i class="fa fa-rss-square pull-right social-icon text-info"></i> Rss Feed</li></a>{{ end }}

<!--
{{ with $.Site.Params.linkedin }}<a href="http://www.linkedin.com/in/{{ . }}" class="list-group-item">
	<li><i class="fa fa-linkedin-square pull-right social-icon text-info"></i> Linkedin</li></a>{{ end }}

{{ with $.Site.Params.facebook }}<a href="http://www.facebook.com/{{ . }}" class="list-group-item">
	<li><i class="fa fa-facebook-square pull-right social-icon text-info"></i> Facebook</li></a>{{ end }}

{{ with $.Site.Params.googleplus }}<a href="http://plus.google.com/u/0/{{ . }}" class="list-group-item">
	<li><i class="fa fa-google-plus-square pull-right social-icon text-info"></i> Google+</li></a>{{ end }}

{{ with $.Site.Params.stackoverflow }}<a href="http://stackoverflow.com/users/{{ . }}" class="list-group-item">
	<li><i class="fa fa-stack-overflow pull-right social-icon text-info"></i> Stackoverflow</li></a>{{ end }}

{{ with $.Site.Params.hitbox }}<a href="http://www.hitbox.tv/{{ . }}" class="list-group-item">
	<li><i class="fa fa-gamepad pull-right social-icon text-info"></i> Hitbox</li></a>{{ end }}

{{ with $.Site.Params.twitch }}<a href="http://www.twitch.tv/{{ . }}" class="list-group-item">
	<li><i class="fa fa-twitch pull-right social-icon text-info"></i> Twitch</li></a>{{ end }}

{{ with $.Site.Params.youtube }}<a href="http://www.youtube.com/{{ . }}" class="list-group-item">
	<li><i class="fa fa-youtube-square pull-right social-icon text-info"></i> Youtube</li></a>{{ end }}

{{ with $.Site.Params.instagram }}<a href="http://www.instagram.com/{{ . }}" class="list-group-item">
	<li><i class="fa fa-instagram pull-right social-icon text-info"></i> Instagram</li></a>{{ end }}

{{ with $.Site.Params.flattr }}<a href="http://www.flattr.com/profile/{{ . }}" class="list-group-item">
	<li><i class="pull-right"><img src="/img/flattr.png" width="18" height="18"></i> Flattr</li></a>{{ end }}

{{ with $.Site.Params.slack }}<a href="http://gamedevelopment.slack.com/team/{{ . }}" class="list-group-item">
	<li><i class="fa fa-slack pull-right social-icon text-info"></i> Slack</li></a>{{ end }}

{{ with $.Site.Params.pinterest }}<a href="http://www.pinterest.com/{{ . }}" class="list-group-item">
	<li><i class="fa fa-pinterest-square pull-right social-icon text-info"></i> Pinterest</li></a>{{ end }}
-->

