
{{ with .Params.tags }}
	<button class="btn btn-default btn-xs dropdown-toggle"
	 id="tag-menu" type="button" data-toggle="dropdown"
	 aria-expanded="false">
		tags <strong class="caret"></strong>
		<span class="sr-only">Toggle Dropdown</span>
	</button>
	<ul class="dropdown-menu dropdown-menu-right"
	 style="min-width:0px" aria-labelledby="tag-menu" role="menu">
	{{ range . }}
		<li role="presentation">
		<a href="{{ $.Site.BaseUrl }}/tags/{{ . }}"
		 role="menuitem">{{ . }}</a></li>
	{{ end }}
	</ul>
{{ end }}

