
{{ $section := or (index .Site.Data.section (or .Section (or .Data.Singular .Title))) .Params }}
{{ $components := or $section.components .Site.Data.null }}
{{ $featured := index .Site.Taxonomies.category "featured" }}

<ul class="list-group list-unstyled">
{{ $page_link := .Permalink }}
{{ $tags := .Params.tags }}
{{ range .Site.Recent }}
	{{ $page := . }}
	{{ $has_common_tags := intersect $tags .Params.tags | len | lt 0 }}
	{{ if and $has_common_tags (ne $page_link $page.Permalink) }}
		<li><a href="{{ $page.Permalink }}">{{ $page.Title }}</a></li>
	{{ end }}
{{ end }}
</ul>


