
{{ $section := or (index .Site.Data.section (or .Section .Data.Singular)) .Site.Data.null }}
{{ $component := or $section.component .Site.Data.null }}

{{ if (and $component.tags .Params.tags) }}
	<button class="btn btn-default btn-xs dropdown-toggle"
	 id="tag-menu" type="button" data-toggle="dropdown"
	 aria-expanded="false">
		tags <strong class="caret"></strong>
		<span class="sr-only">Toggle Dropdown</span>
	</button>
	<ul class="dropdown-menu dropdown-menu-right"
	 style="min-width:0px" aria-labelledby="tag-menu" role="menu">
	{{ range .Params.tags }}
		<li role="presentation">
		<a href="{{ $.Site.BaseUrl }}/tags/{{ . }}"
		 role="menuitem">{{ . }}</a></li>
	{{ end }}
	</ul>
{{ end }}

