
{{ $section := or (index .Site.Data.section (or .Section (or .Data.Singular (.Title|lower)))) .Params }}
{{ $components := or $section.components .Site.Data.null }}

{{ if (and (ne .Type "meta") $components.comments) }}
<a style="text-decoration:none;" class="text-info" href="{{ .Permalink }}#comments">
	<span class="disqus-comment-count" data-disqus-identifier="{{ (print $section.title "-" .Title) | lower | urlize }}"></span>
	<!-- style="font-size:150%;margin-top:1px;" -->
	<i class="fa fa-comment-o pull-right">&nbsp;</i>
</a>
{{ end }}

