<!--
	This template is useful for following Authors or Projects
	Parameters are defined within the content front matter section.
	
	Should they be defined within groups to determine the column organization?
-->


{{ $section := or (index .Site.Data.section (or .Section (or .Data.Singular (.Title|lower)))) .Params }}
{{ $components := or $section.components .Site.Data.null }}
{{ $social := or .Params.share (or $section.share .Site.Params.share) }}


{{ if (and $components.follow_buttons $social) }}
{{ $half := print (div (len $social) 2) }}

<div class="row no-pad">
{{ range $index, $value := $social }}
	<!-- TODO:
		Defer mechanism to reference a .Site.Params.share element
		Inherit all elements defined somewhere else.
		share_buttons = ["$Site.share", "$section.share", "share",]
			[[share]]
				id = "..."
				[[share.url_part]]
					field | array
					text
	-->
	{{ $elem := or (and $value.defer (first 1 (where $.Site.Params.share ".id" $value.id))) $value }}
	{{ if (and (ne $index 0) (eq (print $index) $half)) }}</div></div>{{ end }}
	{{ if (or (eq $index 0) (eq (print $index) $half)) }}
		{{ if (eq (len $social) 1) }}<div class="col-xs-12 column">
		{{ else }}<div class="col-xs-12 col-sm-6 column">{{ end }}
		<div class="btn-group btn-group-justified">
	{{ end }}
	
	{{ with $elem }}
	<a href="{{ .url }}" title="{{ .alt }}" class="btn btn-sm btn-default share-btn {{ .class }} bg-{{ .id }}" target="_blank">
		{{ with .img }}<img src="{{ . }}"></img>{{ end }}
	</a>
	{{ end }}
	
{{ end }}
</div>
</div>
</div>

{{ end }}


