
{{ $section := or (index .Site.Data.section (or .Section (or .Data.Singular (.Title|lower)))) .Params }}
{{ $components := or $section.components .Site.Data.null }}

<aside class="article-meta vcenter">
	{{ if $components.date }}
		{{ with $.Site.Params.date_format }}
			{{ if (ne ($.Date.Format "2006") "0001") }}
				<date>{{ $.Date.Format . }} </date>
			{{ end }}
		{{ else }}<date>{{ .Date.Format "2 Jan 2006" }}</date>
		{{ end }}
	{{ end }}
	{{ if $components.author }}
		{{ if $components.date }} - {{ end }}
		{{ $authorPage := index (where .Site.Sections.author.Pages ".Params.term" ((or .Params.author $.Site.Author.name)|lower|urlize)) 0 }}
		{{ $author := $authorPage.Params.name }}
		<a href="{{ $authorPage.Permalink }}" class="author">{{ $author }}</a>
		
		{{ with .Params.series }}
			{{ if (or $components.date $components.author) }} - {{ end }}
			<a href="{{ $.Site.BaseUrl }}/series/{{ . | lower | urlize }}">{{ . | title }}</a>
		{{ end }}
	{{ end }}
</aside>
{{ if (or (or $components.date $components.author) (and $components.series .Params.series)) }}
	<div class="voffset10"></div>
{{ else }}
	<div class="voffset-5"></div>
{{ end }}



