
{{ with .Site.DisqusShortname }}
<script type="text/javascript">
	var disqus_shortname = '{{ . }}';
	(function () {
		var s = document.createElement('script'); s.async = true;
		s.type = 'text/javascript';
		s.src = '//' + disqus_shortname + '.disqus.com/count.js';
		(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	}());
	// After the page loads, insert "No Comments " where Disqus fails to do so
	commentCountChecker = function(){
		nodes = document.getElementsByClassName("disqus-comment-count");
		for(var i = 0; i < nodes.length; i++) {
			if(nodes[i].innerHTML == "") {
				nodes[i].innerHTML = "No Comments ";
			}
		}
	};
	setTimeout(commentCountChecker, 200);
</script>
{{ end }}


