
<!--
mfp-image (image, inline, iframe)
data-mfp-src

<div class="mfp-figure">
	<div class="mfp-close"></div>
	<div class="mfp-img"></div>
	<div class="mfp-bottom-bar">
		<div class="mfp-title"></div>
		<div class="mfp-counter"></div>
	</div>
</div>
-->


{{ if (not .Params.no_lightbox) }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>

<script>
$('.magnific-gallery').each(function() {
	var elems = $(this).get(0).getElementsByClassName("magnific-photo");
	while( elems[0] ) { elems[0].classList.remove("magnific-photo"); }
	elems = $(this).get(0).getElementsByClassName("magnific-popup");
	while( elems[0] ) { elems[0].classList.remove("magnific-popup"); }
	$(this).magnificPopup({
		delegate: 'a',
		gallery: {
			enabled: true,
			preload: [0,2],
			navigateByImgClick: true,
			arrowMarkup: '<button title="%title%" type="button" class="mfp-arrow mfp-arrow-%dir%"></button>', // markup of an arrow button
			tPrev: 'Previous',
			tNext: 'Next',
			tCounter: '<span class="mfp-counter">%curr% of %total%</span>' // markup of counter
		}
	});
});

$('.magnific-photo').each(function() {
$(this).magnificPopup({
	image: { titleSrc: function(item) {
			var text = item.el.attr('title') + '<small class="data-caption">'
				+ item.el.attr('caption') + '</small>';
			return (text) ? text : "";
		}
	// INCLUDE GALLERY?? Will this allow videos with photos though???
	},
});});

$('.magnific-popup').each(function() {
$(this).magnificPopup({
	midClick: true
});});

$('.magnific-video').magnificPopup({
type: 'iframe', iframe: {
	markup: '<div class="mfp-iframe-scaler">'+
		'<div class="mfp-close"></div>'+
		'<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>'+
		'</div>', // HTML markup of popup, `mfp-close` will be replaced by the close button
	delegate: 'iframe',
	patterns: {
		youtube: { index: 'youtube.com/', id: 'v=', src: '//www.youtube.com/embed/%id%?autoplay=1' },
		vimeo: { index: 'vimeo.com/', id: '/', src: '//player.vimeo.com/video/%id%?autoplay=1' },
		gmaps: { index: '//maps.google.', src: '%id%&output=embed' },
		dailymotion: {
			index: 'dailymotion.com',
			id: function(url) {
				var m = url.match(/^.+dailymotion.com\/(video|hub)\/([^_]+)[^#]*(#video=([^_&]+))?/);
				if (m !== null) { if(m[4] !== undefined) { return m[4]; } return m[2]; }
				return null;
			},
			src: 'http://www.dailymotion.com/embed/video/%id%'
		}
	}
}, srcAction: 'iframe_src', 
});
</script>
{{ end }}


