{{ partial "header.html" . }}

{{ partial "main_begin.html" . }}
	<!--{ { partial "content_header.html" . }}-->
	<div class="voffset-20"></div>
	<div class="container"><h1>{{ .Title | title }}</h1></div>
	<div class="section panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="voffset-10"></div>
				<ul class="breadcrumb list-unstyled">
					<li><a href="{{ $.Site.BaseUrl }}">Home </a><span class="divider"></span></li>
					<li class="active">{{ .Title }}</li>
				</ul>
				<div class="voffset-30"></div>
			</div>
		</div>
		<ul class="list-group list-unstyled">
		<!--Groups posts by year. Doesn't display the current year. Most recent articles first.-->
		{{ $groups := $.Site.Pages.GroupByDate "2006-01" }}
		{{ range $index, $group := $groups }}
			<!-- Posts are grouped by year and month, the month is then
					stripped using (first 4 $group.Key ), and duplicate years
					are then removed by comparing the key against the previous one
			-->
			{{ $key := first 4 $group.Key }}
			{{ $prevKey := and (ne $index 0) (first 4 (index $groups 0).Key) }}
			{{ if (and $key (and (ne $key $prevKey) (and (ne $key ($.Date.Format "20016")) (ne $key "0001")))) }}
				<div id="{{ $key }}" class="list-group-item active">
						<!--centers the year: style="margin:auto; width:45px; display:block;"-->
						<span class="list-item-year">{{ $key }}</span>
				</div>
			{{ end }}
			{{ range .Pages }}
				{{ if (not .Params.meta) }}
					{{ .Render "li" }}
				{{ end }}
			{{ end }}
		{{ end }}
		</ul>
	</div>
	<!--{ { partial "content_footer.html" . }}-->
{{ partial "main_end.html" . }}

{{ partial "footer.html" . }}

