
p { margin-bottom:15px !important; }
.container { max-width:920px !important; width:100%; }
html,body { height:100% !important; }
.wrapper {
	min-height:100%; height:auto !important; height:100%;
	margin-bottom:-40px; /* Set to Footer's Height + Navbar's Height (if navbar-fixed-bottom) */
	padding-bottom:60px; /* Padding = X + margin-bottom (40 + (-40) = 0) */
	position:relative;
}
.main { padding-top:15px; z-index:2; position:relative; }
.footer, .push { height:40px; display:table; width:100%; position:relative; margin-bottom:-40px;  }
.footer-text { margin-top:10px; margin-bottom:10px; }

.dropdown-menu > li > a { padding:3px 15px; }
.dropdown-menu > .divider { *width:100%; overflow:hidden; margin:5px 1px; *margin:-5px 0 5px; }

.jumbotron { margin-bottom:0; overflow:hidden; }
.carousel { margin-bottom:0; }
.page-header { margin:0px; }
.section { margin-bottom:20px; }

.about-author-thumbnail { margin-bottom:0px; }
.aggregation-title { margin-top:25px; margin-bottom:10px; }
.aggregation-title + hr { margin:0px 0px 15px; }
.aggregation-list {}
.page-list {}
.term-list {}
.term-content-list {}

.content-list {}
.content { padding-bottom:10px; }
.content-block > a > h1 { margin-top:0px; }
.content-block { margin-bottom:10px; }
/*.content-block > p { margin-bottom:0px; }*/
.content-title > a > h1 { margin-top:0px; }
.content-title { margin-bottom:5px; }
.content-thumbnail { max-width:96px; margin-left:15px; }
.content-metadata { margin-bottom:10px; }
.content-footer {}

.continue-message {}
.comment-count { float:right !important; }
.comment-count > i { /*font-size:120%;*/ margin-left:5px; }

.pager { margin:5px -5px 10px -5px; }

.series-toc-title { padding:5px 15px 5px 15px; }
.series-toc { margin-bottom:10px; }

/* Plugins */
.popup-container {
	position:relative;
	background:#FFF;
	padding:20px;
	width:auto;
	max-width:500px;
	margin:20px auto;
}


