
{{ if .Site.DisqusShortname }}
<div id="comments" class="comments-area">
	<button class="show-comments btn btn-default btn-md btn-block" type="button">
	<!-- glyphicon glyphicon-user -->
		<em style="font-size:120%;" class="fa fa-comments"></em>&nbsp;&nbsp;Load Comments</button>
	<div id="disqus_thread"></div>
</div>

<script>
	$(document).ready(function() {
		loadComments = function() {
			var disqus_shortname = '{{ $.Site.DisqusShortname }}';
			var disqus_identifier = '{{ .Title | lower | urlize }}';
		$.ajax({ type: "GET", url: "http://" + disqus_shortname + ".disqus.com/embed.js",
		dataType: "script", cache: true });
		$('.show-comments').fadeOut(); }
		$('.show-comments').on('click', loadComments);
	});
	// Check if the user clicked on a link to view comments.
	// If so, load the comments and remove the checker. 
	commentLoader = window.setInterval(function() {
		if (window.location.hash == "#comments") {
			loadComments(); window.clearInterval(commentLoader);
		}
	}, 2000);
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{{ end }}


