
<!-- Placed before a piece of content, whether it is a full or summary peice.
	This is done automatically within  "_default/summary.html".
-->

<a href="{{ .Permalink }}"><h1 class="title">{{ .Title | title }}</h1></a>
<div class="voffset-10"></div>
<aside class="article-meta vcenter">
	<date>{{ .Date.Format "Jan 2, 2006" }}</date>
	{{ if .Params.author }}
		{{ $author := index .Params.author 0 }}
		- <a href="{{ $.Site.BaseUrl }}/author/{{ $author | lower | urlize }}" class="author">{{ $author }}</a>
	{{ else }}
		{{ $author := $.Site.Author.name }}
		- <a href="{{ $.Site.BaseUrl }}/author/{{ $author | lower | urlize }}" class="author">{{ $author }}</a>
	{{ end }}
	
	{{ if .Params.series }}
		{{ $series := index .Params.series 0 }}
		- <a href="{{ $.Site.BaseUrl }}/series/{{ $series | lower | urlize }}">{{ $series }}</a>
	{{ end }}
</aside>



