
<!--Placed after a full piece of content, not the summary.-->


{{ $section := index (index $.Site.Data "section") $.Section }}

</div><!--/content-header clearfix-->

<div class="voffset20"></div>
<!--<hr/>-->

{{ if .Params.series }}
	<div class="voffset30"></div>
	{{ partial "panel/series.html" . }}
{{ end }}

{{ if (not $section.no_share_buttons) }}
	{{ partial "share_buttons.html" . }}
{{ end }}

{{ if (not $section.no_follow_buttons) }}
	{{ partial "follow_buttons.html" . }}
{{ end }}


{{ if (or .Params.categories .Params.tags) }}<div class="voffset10"></div>{{ end }}
<div class="row">
	{{ if (not $section.no_categories) }}
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 column">
			{{ partial "component/category_buttons.html" . }}
		</div>
	{{ end }}

	{{ if (not $section.no_tags) }}
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 column">
			<div class="btn-group pull-right">
				{{ partial "component/tag_menu_button.html" . }}
			</div>
		</div>
	{{ end }}
</div>


{{ if (and (not .Params.series) (not $section.no_pager)) }}
	<div class="voffset10"></div>
	{{ partial "pager.html" . }}
{{ end }}


</div><!--/article panel-body-->

<div class="panel-footer">
	{{ if (not $section.no_comments) }}
		{{ partial "comments_ondemand.html" . }}
	{{ end }}
</div>

</div><!--/panel-->


