
<!-- Placed before a piece of content or content summary. -->

{{ $section := or (index .Site.Data.section (or .Section (or .Data.Singular .Title))) .Params }}
{{ $components := or $section.components .Site.Data.null }}

<div class="section panel panel-default">
<div class="article panel-body">
	<div class="content-header clearfix">
	<div class="voffset-20"></div>
	{{ if (and (eq .Section "author") .Params.components.author_thumbnail) }}
		<span class="thumbnail pull-right" style="max-width:96px" >
			<a href="{{ .Permalink }}"><img src="{{ .Params.avatar }}" title="{{ .Params.name }}"
			 class="img-responsive center-block"></a>
		</span>
	{{ end }}
	<a href="{{ .Permalink }}"><h1 class="title">{{ .Title | title }}</h1></a>
	<div class="voffset-10"></div>
	<aside class="article-meta vcenter">
		{{ if $components.date }}
			{{ with $.Site.Params.date_format }}
				{{ if (ne ($.Date.Format "2006") "0001") }}
					<date>{{ $.Date.Format . }} </date>
				{{ end }}
			{{ else }}<date>{{ .Date.Format "2 Jan 2006" }}</date>
			{{ end }}
		{{ end }}
		{{ if $components.author }}
			{{ if $components.date }} - {{ end }}
			{{ if .Params.author }}
				{{ $author := index .Params.author 0 }}
				<a href="{{ $.Site.BaseUrl }}/author/{{ $author | lower | urlize }}" class="author">{{ $author }}</a>
			{{ else }}
				{{ $author := $.Site.Author.name }}
				<a href="{{ $.Site.BaseUrl }}/author/{{ $author | lower | urlize }}" class="author">{{ $author }}</a>
			{{ end }}
			
			{{ if .Params.series }}
				{{ if (or $components.date $components.author) }} - {{ end }}
				{{ $series := index .Params.series 0 }}
				<a href="{{ $.Site.BaseUrl }}/series/{{ $series | lower | urlize }}">{{ $series | title }}</a>
			{{ end }}
		{{ end }}
	</aside>
	{{ if (or (or $components.date $components.author) (and $components.series .Params.series)) }}
		<div class="voffset10"></div>
	{{ else }}
		<div class="voffset-5"></div>
	{{ end }}


<!--tag closed in "content_footer.html" or "summary_footer.html"-->



