
<!-- Placed before a piece of content or content summary. -->

<div class="section panel panel-default">
<div class="article panel-body">
	<div class="voffset-20"></div>
	{{ if (and (eq .Section "author") (not .Params.no_author_thumbnail)) }}
		<span class="thumbnail pull-right" style="max-width:96px" >
			<a href="{{ .Permalink }}"><img src="{{ .Params.avatar }}" title="{{ .Params.name }}"
			 class="img-responsive center-block"></a>
		</span>
	{{ end }}
	<a href="{{ .Permalink }}"><h1 class="title">{{ .Title | title }}</h1></a>
	<div class="voffset-10"></div>
	<aside class="article-meta vcenter">
		{{ if (not .Params.no_date) }}<date>{{ .Date.Format "Jan 2, 2006" }}</date>{{ end }}
		{{ if (not .Params.no_author) }}
			{{ if (not .Params.no_date) }} - {{ end }}
		{{ if .Params.author }}
			{{ $author := index .Params.author 0 }}
			<a href="{{ $.Site.BaseUrl }}/author/{{ $author | lower | urlize }}" class="author">{{ $author }}</a>
		{{ else }}
			{{ $author := $.Site.Author.name }}
			<a href="{{ $.Site.BaseUrl }}/author/{{ $author | lower | urlize }}" class="author">{{ $author }}</a>
		{{ end }}

		{{ if .Params.series }}
			{{ if (or (not .Params.no_date) (not .Params.no_author)) }} - {{ end }}
			{{ $series := index .Params.series 0 }}
			<a href="{{ $.Site.BaseUrl }}/series/{{ $series | lower | urlize }}">{{ $series | title }}</a>
		{{ end }}{{ end }}
	</aside>
	{{ if (or (or (not .Params.no_date) (not .Params.no_author)) (and (not .Params.no_series) .Params.series)) }}
		<div class="voffset10"></div>
	{{ else }}
		<div class="voffset-5"></div>
	{{ end }}


<!--tag closed in "content_footer.html" or "summary_footer.html"-->



