
<!--
{{ with .Site.Params.googleplus }}
	<div class="g-follow" data-annotation="bubble" data-height="20" data-href="//plus.google.com/u/0/{{ . }" data-rel="author"></div>
{{ end }}

{{ with .Site.Params.twitter }}
	<a href="https://twitter.com/{{ . }}" class="twitter-follow-button" data-show-count="false">Follow @{{ . }}</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
{{ end }}

{{ with .Site.Params.linkedin }}
	<a href="http://www.linkedin.com/in/{{ . }}">
		<img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_liprofile_blue_80x15.png" width="80" height="20" border="0" alt="View {{ $.Site.Author.name }}'s profile on LinkedIn"></a>
{{ end }}

{{ with .Site.Params.pinterest }}
	<a data-pin-do="buttonFollow" href="http://www.pinterest.com/{{ . }}/">{{ $.Site.Author.name }}</a>
	<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
{{ end }}

{{ with .Site.Params.tumblr }}
	<iframe class="btn" border="0" scrolling="no" allowtransparency="true" src="http://platform.tumblr.com/v1/follow_button.html?button_type=2&tumblelog=staff&color_scheme=light" frameborder="0" height="25" width="114"></iframe>
{{ end }}

-->
