	</div><!--/row-->
</div><!--/container-->


<div class="push"></div>
</div> <!--wrapper-->

<span class="voffset10">&nbsp;</span>
<div class="container">
	<footer class="footer row clearfix">
		<div class="col-xs-12 column">
			<!--
			<div class="thumbnail"><img alt="Advertise here" src="http://lorempixel.com/900/100/abstract"></div>
			-->
			<p class="text-muted credit"><small>
				&copy; {{ .Now.Format "2006" }}
				{{ with .Site.Author.name }}<a href="{{ $.Site.BaseUrl }}" class="text-muted">{{ . }}</a>.{{end}}
				{{ with .Site.Copyright }}<copyright>{{.}}</copyright>{{end}}
			</small></p>
		</div>
	</footer>
</div>

{{ partial "js.html" . }}

</body>
</html>


