
<div class="wrapper">

{{ $section := or (index .Site.Data.section (or .Section .Data.Singular)) .Site.Data.null }}
{{ $component := or $section.component .Site.Data.null }}

{{ partial "navbar.html" . }}
{{ partial "component/jumbotron.html" . }}
{{ partial "component/carousel.html" . }}

<div class="main">
<div class="container">
	<div class="row clearfix">
		<div class="col-md-9 column">
		{{ if (and $.IsNode $component.page_header) }}
			<div class="voffset-20"></div>
			<div class="container">
			<h1 class="page-title">{{ (or $section.page_header.title .Title) | title }}</h1>
			</div>
		{{ end }}

<!--tags closed in "main_end.html"-->


