
<!-- Title And breadcrumbs
<div class="voffset-20"></div>
<div class="container"><h1>{{ .Title | title }}</h1></div>
<div class="section panel panel-default">
<div class="panel-heading">
	<div class="row">
		<div class="voffset-10"></div>
		<ul class="breadcrumb list-unstyled">
			<li><a href="{{ $.Site.BaseUrl }}">Home </a>
				<span class="divider"></span></li>
			<li class="active">{{ .Title }}</li>
		</ul>
		<div class="voffset-30"></div>
	</div>
</div>
-->

<div class="col-md-9 column">

<!--tag closed in "main_begin.html"-->


