

<!-- Nested Comments -->
<div class="media">
	<a href="#" class="pull-left"><img src="http://lorempixel.com/64/64/" class="media-object" alt=""></a>
	<div class="media-body">
		<h4 class="media-heading">Excited_Reader123</h4>
		Whoah nice post, you've inspired me so much :) Not!!!
		<div class="media">
			<a href="#" class="pull-left"><img src="http://lorempixel.com/64/64/" class="media-object" alt=""></a>
			<div class="media-body">
				<h4 class="media-heading">Daniel Hatch</h4>
				Thank you for those kind words! Not!!!
			</div>
		</div>
	</div>
</div>



