
<!-- Doesn't support anything fancy like detecting Section, Category, or Series -->

<div class="row clearfix">
	<div class="col-md-6 column">
	{{ with .Prev }}
		<!--
		<a class="btn btn-primary" href="{{ .Permalink }}"><i class="fa fa-caret-left"></i> Prev</a>
		-->
		<a class="" href="{{ .Permalink }}"><i class="fa fa-caret-left"></i> {{ .Title | title }}</a>
	{{ end }}
	</div>
	<div class="col-md-6 column">
	{{ with .Next }}
		<!--
		<a class="btn btn-primary pull-right" href="{{ .Permalink }}">Next <i class="fa fa-caret-left"></i></a>
		-->
		<a class="pull-right" href="{{ .Permalink }}">{{ .Title | title }} <i class="fa fa-caret-right"></i></a>
	{{ end }}
	</div>
</div>
