
<!--Paceholder content-->
<h1 class="title">Article Title<small> by Daniel Hatch</small></h1>
<p>123456789 123456789 123456789 123456789 123456789 123456789 123456789 1234567890 9999999999 0000000000 123456789
Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>

<div class="spoiler panel panel-default">
	<div class="panel-heading">
		 <a class="collapsed" data-toggle="collapse" href="#spoiler1">
		 Do you know the answer?</a>
	</div>
	<div id="spoiler1" class="panel-collapse collapse">
		<div class="panel-body">That's what I thought</div>
	</div>
</div>
<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>

<blockquote>This is my quote, and don't you forget it</blockquote>




