
<div class="row no-pad">
<div class="col-xs-12 col-sm-6 column">
<div class="btn-group btn-group-justified">


{{ with .Site.Params.gratipay }}
<a href="https://gratipay.com/{{ . }}" title="Support me on Gratipay" class="btn btn-sm btn-default share-btn fa fa-gratipay bg-gratipay" target="_blank"></a>
{{ end }}

{{ with .Site.Params.flattr }}
<a href="https://flattr.com/submit/auto?user_id={{ . }}&url={{ $.Permalink }}" title="Flattr this" class="btn btn-sm btn-default share-btn bg-flattr" target="_blank"><img src="/img/flattr-white.png"></img></a>
{{ end }}

{{ with .Site.Params.twitter }}
<a href="http://twitter.com/share?url={{ $.Permalink }}&text={{ $.Title | title }}&via={{ . }}" title="Share on Twitter" class="btn btn-sm btn-default share-btn fa fa-twitter bg-twitter" target="_blank"></a>
{{ end }}

<a href="http://www.facebook.com/sharer.php?u={{ .Permalink }}&t={{ .Title | title | urlize }}" title="Share on Facebook" class="btn btn-sm btn-default share-btn fa fa-facebook bg-facebook" target="_blank"></a>

<a href="https://plus.google.com/share?url={{ .Permalink }}" title="Share on Google+" class="btn btn-sm btn-default share-btn fa fa-google-plus bg-google-plus" target="_blank"></a>


</div>
</div>
<div class="col-xs-12 col-sm-6 column">
<div class="btn-group btn-group-justified">


<a href="http://www.linkedin.com/cws/share?url={{ .Permalink }}&title={{ .Title | title }}&source={{ $.Site.BaseUrl }}" title="Share on LinkedIn" class="btn btn-sm btn-default share-btn fa fa-linkedin bg-linkedin" target="_blank"></a>

<!--
<a href="http://pinterest.com/pin/create/button/?url={{ .Permalink }}&media={{ .Params.graphic }}&description={{ .Title | title }}&is_video=false" class="btn btn-sm btn-default share-btn fa fa-pinterest bg-pinterest" title="Pin it on Pinterest" target="_blank"></a>
-->

{{ with .Params.id_hackernews }}
<a href="http://news.ycombinator.com/item?id={{ . }}" title="Vote on Hacker News" class="btn btn-sm btn-default share-btn fa fa-hacker-news bg-hacker-news" target="_blank"></a>
{{ else }}
<a href="http://news.ycombinator.com/submitlink?u={{ .Permalink }}&t={{ .Title | title }}" title="Sumbit to Hacker News" class="btn btn-sm btn-default share-btn fa fa-hacker-news bg-hacker-news" target="_blank"></a>
{{ end }}

{{ with .Params.id_reddit }}
<a class="btn btn-sm btn-default share-btn fa fa-reddit bg-reddit" type="button" href="http://www.reddit.com/submit?url={{ $.Permalink }}&title={{ $.Title | title }}" title="Vote on Reddit" target="_blank"></a>
{{ else }}
<a class="btn btn-sm btn-default share-btn fa fa-reddit bg-reddit" type="button" href="http://www.reddit.com/submit?url={{ $.Permalink }}&title={{ $.Title | title }}" title="Submit to Reddit" target="_blank"></a>
{{ end }}

<a class="btn btn-sm btn-default share-btn fa fa-tumblr bg-tumblr" href="http://www.tumblr.com/share?v=3&u={{ .Permalink }}&t={{ .Title | title }}" title="Share on Tumblr"></a>

<a href="mailto:?subject={{ .Title | title }}&body=Check out this site I came across {{ .Permalink }}" class="btn btn-sm btn-default share-btn fa fa-envelope bg-email" title="Email"></a>


</div>
</div>
</div>

