
<div class="row clearfix">
	<div class="col-xs-12 col-sm-6 col-md-12 column">
		{{ partial "panel/about_author.html" . }}
	</div>
	<div class="col-xs-12 col-sm-6 col-md-12 column">
		{{ partial "panel/recent_posts.html" . }}
	</div>
</div>

<div class="row clearfix">
	{{ partial "panel/social_links.html" . }}
	<div class="col-xs-12 col-sm-6 col-md-12 column">
		{{ partial "panel/categories.html" . }}
	</div>
</div>

<!--
<div class="row clearfix">
	{{ partial "panel/ads.html" . }}
</div>
-->


