
<!-- Placed after a content summary. -->

<!--Makes inconsistent spacing with truncated summaries less noticeable-->
{{ if (not .Truncated) }}<div class="voffset3"></div>{{ end }}
</div><!--/article panel-body-->

<div class="panel-footer">
	{{ partial "continue_message.html" . }}
	{{ if (and (ne .Type "meta") (not .Params.no_comments)) }}
	<div class="pull-right">
		<a style="text-decoration:none;" class="text-info" href="{{ .Permalink }}#comments">
			<span class="disqus-comment-count" data-disqus-identifier="{{ .Title | lower | urlize }}"></span>
			<!-- style="font-size:150%;margin-top:1px;" -->
			<i class="fa fa-comment-o pull-right">&nbsp;</i>
		</a>
	</div>
	{{ end }}
</div>

</div><!--/panel-->

