{{ partial "header.html" . }}

{{ partial "main_begin.html" . }}
	{{ partial "content_header.html" . }}
	<div class="voffset-20"></div>
	<div class="author-contact" style="">
		{{ with .Params.website }}&nbsp;<i class="fa fa-home"></i> <a href="{{ . }}">{{ . }}&nbsp;&nbsp;</a>{{ end }}
		{{ with .Params.email }}&nbsp;<i class="fa fa-envelope"></i> <a href="{{ . }}">{{ . }}</a>{{ end }}
	</div>
	<div class="voffset15"></div>
	<div class="article-content">{{ .Content }}</div>
	{{ partial "content_footer.html" . }}
	
	<div class="voffset50"></div>
	<h1>Posts</h1>
	<div class="voffset-10"></div>
	<hr/>
	<!-- Get the Taxonomy beloing to the current Section -->
	{{ $authorTaxonomy := index (index .Site.Taxonomies .Section) (.Title | lower | urlize) }}
	{{ $pages := $authorTaxonomy.Pages.ByDate }}
	
	<!--Can these items be paginated?
		Can I have a link to the Author Taxonomy term?
			Right now, the Section is overriding its rendering
		Maybe use javascript to implement a 'Show more' button to incrementally
			load more posts from the author
	-->
	{{ if (gt (len $pages) 0) }}
		{{ range $pages }}
			{{ .Render "li" }}
		{{ end }}
	{{ else }}
		{{ partial "panel/no_content_found.html" . }}
	{{ end }}
	
	<div class="voffset30"></div>
	{{ partial "panel/twitter_timeline.html" . }}
	
{{ partial "main_end.html" . }}

{{ partial "footer.html" . }}


