{{ partial "header.html" . }}

{{ partial "main_begin.html" . }}
	{{ partial "content_header.html" . }}
	<div class="article-content">{{ .Content }}</div>
	{{ partial "content_footer.html" . }}
	
	<div class="voffset30"></div>
	<h1>Posts</h1>
	<div class="voffset-10"></div>
	<hr/>
	<!-- Get a list of pages within the `Taxonomy`-->
	{{ $pages := (index (index .Site.Taxonomies "author") (.Title | lower | urlize)).Pages.ByDate }}
	{{ if (gt (len $pages) 0) }}
		{{ range $pages }}
			{{ .Render "li" }}
		{{ end }}
	{{ else }}
		{{ partial "panel/no_content_found.html" . }}
	{{ end }}
{{ partial "main_end.html" . }}

{{ partial "footer.html" . }}


