{{ partial "header.html" . }}

{{ partial "main_begin.html" . }}
	{{ partial "content_header.html" . }}
	<div class="voffset-20"></div>
	<div class="author-contact" style="">
		{{ with .Params.website }}&nbsp;<i class="fa fa-home"></i> <a href="{{ . }}">{{ . }}&nbsp;&nbsp;</a>{{ end }}
		{{ with .Params.email }}&nbsp;<i class="fa fa-envelope"></i> <a href="{{ . }}">{{ . }}</a>{{ end }}
	</div>
	<div class="voffset15"></div>
	<div class="article-content">{{ .Content }}</div>
	{{ partial "content_footer.html" . }}
	
	<div class="voffset50"></div>
	<div class="container">
		<h1>Posts</h1>
	</div>
	<div class="voffset-10"></div>
	<hr/>
	
	{{ $pages := where .Site.Pages.ByDate ".Params.author" .Params.name }}
	{{ if (gt (len $pages) 0) }}
		{{ range $pages }}
			{{ .Render "li" }}
		{{ end }}
	{{ else }}
		<div class="panel panel-default">
			{{ partial "components/content/no_content_found.html" . }}
		</div>
	{{ end }}
	
	<div class="voffset30"></div>
	{{ partial "plugins/twitter_timeline.html" . }}
	
{{ partial "main_end.html" . }}

{{ partial "footer.html" . }}


