
{{ $section := or .Site.Data.section.site .Site.Params }}
{{ $theme := index .Site.Data.themes (or (and (ne .Title .Site.Title) .Params.theme) (or $section.theme (or .Site.Params.theme "default"))) }}
{{ $layout := or $section.layout $theme.layout }}

{{ partial "header.html" . }}

{{ if $layout }}
	{{ partial $layout . }}
{{ else }}
	<h4>Failed to find layout '{{ $layout }}'<h4>
	<p>The 404 page's layout is defined within 'data/section/site.toml' or '.Site.Params'.</p>
{{ end }}

{{ partial "footer.html" . }}


