{{ partial "header.html" . }}

<div class="col-md-9 column">
{{ range .Data.Pages }}
{{ if (ne .Type "meta") }}
	<div class="section panel panel-default">
		<div class="article panel-body">
			<div class="voffset-20"></div>
			{{ partial "content_header.html" . }}
			<div class="voffset10"></div>
			{{ .Render "summary" }}
		</div>
		<div class="panel-footer">
			{{ partial "summary_footer.html" . }}
		</div>
	</div>
{{ end }}
{{ end }}
</div>

<div class="content-secondary col-md-3 column">{{ partial "sidebar.html" . }}</div>
{{ partial "footer.html" . }}


