
{{ $section := or (index .Site.Data.section (or .Section (or .Data.Singular (.Title|lower)))) .Params }}
{{ $theme := index .Site.Data.themes (or (and (ne .Title .Site.Title) .Params.theme) (or $section.theme (or .Site.Params.theme "default"))) }}

{{ $components := or $section.components .Site.Data.null }}
{{ $ccomponents := or .Params.components $components }}


<div class="section panel panel-default">
<div class="article panel-body">
	<div class="content-header clearfix">
	<div class="voffset-20"></div>
	<!-- Thumbnail must be set, components.thumbnail is true, or it is not set
			and it is true within section.
	-->
	{{ $thumbnail := or .Params.thumbnail $section.thumbnail }}
	{{ if (and $thumbnail (or $ccomponents.thumbnail (and (not (isset $ccomponents "thumbnail")) $components.thumbnail) )) }}
		<span class="thumbnail pull-right" style="max-width:96px" >
			<a href="{{ .Permalink }}">
			<img src="{{ $thumbnail }}" title="{{ .Params.title }}"
			 class="img-responsive center-block"></a>
		</span>
	{{ end }}
	<a href="{{ .Permalink }}"><h1 class="title">{{ .Title | title }}</h1></a>
	<div class="voffset-10"></div>
	<aside class="article-meta vcenter">
		{{ if $components.date }}
			{{ with $.Site.Params.date_format }}
				{{ if (ne ($.Date.Format "2006") "0001") }}
					<date>{{ $.Date.Format . }} </date>
				{{ end }}
			{{ else }}<date>{{ .Date.Format "2 Jan 2006" }}</date>
			{{ end }}
		{{ end }}
		{{ if $components.author }}
			{{ if $components.date }} - {{ end }}
			{{ $author := or .Params.author $.Site.Author.name }}
			<a href="{{ $.Site.BaseUrl }}/author/{{ $author | lower | urlize }}" class="author">{{ $author }}</a>
			
			{{ with .Params.series }}
				{{ if (or $components.date $components.author) }} - {{ end }}
				<a href="{{ $.Site.BaseUrl }}/series/{{ . | lower | urlize }}">{{ . | title }}</a>
			{{ end }}
		{{ end }}
	</aside>
	{{ if (or (or $components.date $components.author) (and $components.series .Params.series)) }}
		<div class="voffset10"></div>
	{{ else }}
		<div class="voffset-5"></div>
	{{ end }}
</div><!--/content-header clearfix-->


<!-- PAGE_FOLD? -->


