<!--
	List renders a collection of pages or taxonomy term labels.
	
	Pages are either the Section's aggregated Pages, or the Pages belonging to
		the Term of the Section's Taxonomy defined by the `term` parameter in
		the content page representing the Term.
		Pages have an associated Date, are affected by `group_by_year`, and can
			be displayed by a `content_layout`, `summary_layout`, or `li_layout`
			theme layout template.
	
	The pages that are rendered depends on the current Section, 'meta' and
		'show_meta' settings, and 'taxonomy' settings.
	
	When rendering a content_view, the page is passed as the global data table.
	
	Terms are the labels of the instances of a Taxonomy.
		They don't have a Date associated with them and the layout is defined
			inline within the `$theme.list_layout` theme layout template. 
	
	Term list items must be rendered within this file because the term's name
		and data cannot be passed together to a template. To customize the
		layout of the item, override the `$theme.term_layout` variable which
		holds a string array and can contain HTML or field indexing.
	
	TODO:
		Differing YEAR layout for 'li' lists
		
	
	Pagination is not supported due to the different types of Lists that this layout may display
{{/*
{{ if $isPaginated }}
	{{ range .Paginator.Pages }}
		{{ if (or $list.show_meta (not .Params.meta)) }}
			{{ if $isListView }} {{ partial (or .Params.li_layout $theme.li_layout) . }}
			{{ else }} {{ partial (or .Params.summary_layout $theme.summary_layout) . }} {{ end }}
		{{ end }}
	{{ end }}
	{{ template "_internal/pagination.html" . }}
{{ else }}
{{ end }}
*/}}
-->


{{ $section := or (index .Site.Data.section (or .Section (or .Data.Singular (.Title|lower)))) .Params }}
{{ $theme := index .Site.Data.themes (or (and (ne .Title .Site.Title) .Params.theme) (or $section.theme (or .Site.Params.theme "default"))) }}
{{ $termLayout := $theme.term_layout }}

{{ $terms := .Data.Terms.ByCount }}
{{ $pages := or $.Data.Pages.ByDate.Reverse (where .Site.Pages.ByDate.Reverse (print ".Params." (or $section.taxonomy ""|lower)) .Params.term) }}

<!-- The `list` variable holds the configuration parameters for how the list is
	displayed and organized.
		* `$section.term` may be defined for Taxonomies otherwise this is skipped.
		* `$section`
		* `.Site.Params.`
-->
{{ $list := or (and .IsPage (and $section.taxonomy $section.aggregation)) $section }}
{{ $view := or $list.content_view (or $section.content_view .Site.Params.content_view) }}
{{ $isListView := or $terms (and (ne $view "content") (ne $view "summary")) }}
{{ $groupByYear := and (not $terms) (or $list.group_by_year (and (not (isset $list "group_by_year")) .Site.Params.group_by_year)) }}
{{ $isPaginated := or $list.pagination (and (not (isset $list "pagination")) .Site.Params.pagination) }}
{{ $recentPosts := or $list.recent_posts (and (not (isset $list "recent_posts")) .Site.Params.recent_posts) }}

{{ $aggregateContent := and (and .IsPage $section.taxonomy) (or $list.aggregate_content $section.aggregate_content) }}

{{ if (or .IsNode $aggregateContent) }}


<!--Plugins shown before the list list -->
{{ if (and .IsPage (and $section.taxonomy $aggregateContent)) }}
	{{ range $index, $layout := $theme.aggregation.before }}
		{{ if (eq (first 1 $layout) "<" ) }} {{ (replace $layout "<HTML>" "") | safeHtml }}
		{{ else }} {{ partial $layout $ }} {{ end }}
	{{ end }}
{{ else }}
	{{ range $index, $layout := $theme.list.before }}
		{{ if (eq (first 1 $layout) "<" ) }} {{ (replace $layout "<HTML>" "") | safeHtml }}
		{{ else }} {{ partial $layout $ }} {{ end }}
	{{ end }}
{{ end }}

<!-- Display 'no_content_found' component.
	If the List elements are have a ListView, the list will be contained within
	a Bootstrap Panel element -->
{{ if (or $isListView $terms) }}
	<div class="section panel panel-default">
	{{ if (not (or $pages $terms)) }}
		<div class="article panel-body">
		{{ partial "default/content/no_content_found.html" . }}
		</div>
	{{ end }}
	<ul class="list-group list-unstyled">
{{ else }}
	{{ if (not (or $pages $terms)) }}
	<div class="section panel panel-default">
		<div class="article panel-body">
			{{ partial "default/content/no_content_found.html" . }}
		</div>
	</div>
	{{ end }}
{{ end }}


<!-- Render list of Terms for Taxonomy Page using `$theme.term_layout` -->
{{ range $terms }}
	<a class="list-group-item" href="{{ $.Url }}{{ .Term | lower | urlize }}">
		<span class="text-primary">{{ .Term | title }}</span>
		<span class="badge pull-right progress-bar-info">{{ .Count }}</span>
	</a>
{{ end }}


<!-- Render list of Pages for Section or Term aggregation -->
{{ range $index, $page := first $recentPosts $pages }}
	{{ if $groupByYear }}
		{{ $year := and (not $.Data.Terms) ($page.Date.Format "2006") }}
		<!-- Make sure $prevIndex is always a valid number -->
		{{ $prevIndex := or (and (gt $index 0) (sub $index 1)) 0 }}
		{{ $prevYear := (index $pages $prevIndex).Date.Format "2006" }}
		<!-- Display year if it differs from the previous -->
		{{ if (and (ne $year $prevYear) (ne $year "0001") (ne $prevYear "0001")) }}
			<div class="container">
				<div class="voffset-10"></div>
				<h1 id="{{ $year }}" class="year">{{ $year }}</h1>
			</div>
		{{ end }}
	{{ end }}
	<!-- Content only shown if 'show_meta' is true or '.Params.meta' is false -->
	{{ if (or $list.show_meta (not $page.Params.meta)) }}
		{{ if (not $isListView) }}
			{{ partial (or $page.Params.summary_layout $theme.summary_layout) $page }}
		{{ else }}
			<a class="list-group-item" href="{{ .Permalink }}">
				<span class="text-primary">{{ .Title | title }}</span>
				<span class="pull-right">
					{{ with (or $list.date_format $.Site.Params.date_format_short) }}
						{{ $page.Date.Format . }}
					{{ else }}{{ $page.Date.Format "Jan 2" }}{{ end }}
				</span>
			</a>
		{{ end }}
	{{ end }}
{{ end }}

{{ if (or $isListView $terms) }}
	</ul>
	</div><!--section panel-->
{{ end }}


{{ end }}<!--End of List-->


<!--Plugins shown after list -->
{{ if (and .IsPage (and $section.taxonomy $aggregateContent)) }}
	{{ range $index, $layout := $theme.aggregation.after }}
		{{ if (eq (first 1 $layout) "<" ) }} {{ (replace $layout "<HTML>" "") | safeHtml }}
		{{ else }} {{ partial $layout $ }} {{ end }}
	{{ end }}
{{ else }}
	{{ range $index, $layout := $theme.list.after }}
		{{ if (eq (first 1 $layout) "<" ) }} {{ (replace $layout "<HTML>" "") | safeHtml }}
		{{ else }} {{ partial $layout $ }} {{ end }}
	{{ end }}
{{ end }}


