
{{ $section := or (index .Site.Data.section (or .Section (or .Data.Singular (.Title|lower)))) .Params }}
{{ $theme := index .Site.Data.themes (or (and (ne .Title .Site.Title) .Params.theme) (or $section.theme (or .Site.Params.theme "default"))) }}


<!-- HEADER -->
<div class="wrapper">
{{ range $index, $layout := $theme.header.components }}
	{{ if (in $layout "<HTML>") }} {{ (replace $layout "<HTML>" "") | safeHtml }}
	{{ else }} {{ partial $layout $ }} {{ end }}
{{ end }}


<div class="main">
<div class="container">
	<div class="row clearfix">
	
<div class="col-md-9 column">

<!-- SECTION -->
{{ range $index, $layout := $theme.section.components }}
	{{ if (eq (first 1 $layout) "<" ) }} {{ (replace $layout "<HTML>" "") | safeHtml }}
	{{ else }} {{ partial $layout $ }} {{ end }}
{{ end }}

<!-- CONTENT -->
{{ if .IsPage }}
	{{ partial (or .Params.content_layout $theme.content_layout) . }}
	{{ partial $theme.list_layout . }}
<!-- CONTENT_LIST -->
{{ else }}
	{{ partial $theme.list_layout . }}
{{ end }}

	
</div><!--/col-md-9 column-->



<!-- ASIDE
	Iterate over elements, puts them within Bootstrap's grid system
-->
<aside class="content-secondary col-md-3 column">
{{ range $index, $layout := $theme.aside.components }}
	{{ if (eq (first 1 $layout) "<") }}
		{{ partial "Cannot embed HTML within ASIDE for current theme." }}
	{{ end }}
	{{ $isEven := eq (print (mod $index 2)) "0" }}
	{{ if $isEven }} <div class="row clearfix"> {{ end }}
	<div class="col-xs-12 col-sm-6 col-md-12 column"> {{ partial $layout $ }} </div>
	{{ if (not $isEven) }} </div> {{ end }}
{{ end }}
</aside>


</div><!--/row-->
</div><!--/container-->
</div><!--/main-->

<div class="push"></div>
</div> <!--wrapper-->



<!-- FOOTER -->
<span class="voffset10">&nbsp;</span>
<div class="container">
{{ range $index, $layout := $theme.footer.components }}
	{{ if (eq (first 1 $layout) "<" ) }} {{ (replace $layout "<HTML>" "") | safeHtml }}
	{{ else }} {{ partial $layout $ }} {{ end }}
{{ end }}
</div>



