
<!-- Summary represents the encapsulated content to be displayed within a
	content list. It may contain the full text, but doesn't contain all the
	components like the dedicated page has.
 -->

{{ $section := or (index .Site.Data.section (or .Section (or .Data.Singular (.Title|lower)))) .Params }}
{{ $theme := index .Site.Data.themes (or (and (ne .Title .Site.Title) .Params.theme) (or $section.theme (or .Site.Params.theme "default"))) }}

{{ range $index, $layout := $theme.summary.before }}
	{{ if (eq (first 1 $layout) "<" ) }} {{ (replace $layout "<HTML>" "") | safeHtml }}
	{{ else }} {{ partial $layout $ }} {{ end }}
{{ end }}

<div class="section panel panel-default">
<div class="article panel-body">
<div class="content-header clearfix">
	<div class="voffset-20"></div>
	<div class="pull-right" style="max-width:96px; margin-left:15px">
		{{ partial "default/content/thumbnail.html" . }}
	</div>
	<a href="{{ .Permalink }}"><h1 class="title">{{ .Title | title }}</h1></a>
	<div class="voffset-10"></div>
	{{ partial "default/content/metadata.html" . }}

<!-- SUMMARY -->
	{{ $view := or $section.content_view .Site.Params.content_view }}
	{{ if (eq $view "content") }} {{ .Content }}
	{{ else }} {{ .Summary }} {{ end}}
</div><!--/content-header-->
	
	{{ range $index, $layout := $theme.summary.after }}
		{{ if (eq (first 1 $layout) "<" ) }} {{ (replace $layout "<HTML>" "") | safeHtml }}
		{{ else }} {{ partial $layout $ }} {{ end }}
	{{ end }}
	
	</div><!--/article panel-body-->
	
<!-- SUMMARY PAGE_FOLD -->
	<div class="panel-footer">
	{{ range $index, $layout := $theme.summary.page_fold }}
		{{ if (eq (first 1 $layout) "<" ) }} {{ (replace $layout "<HTML>" "") | safeHtml }}
		{{ else }} {{ partial $layout $ }} {{ end }}
	{{ end }}
	</div>
	
</div><!--/panel-->


