
{{ if (or (eq .Section "author") (eq .Title "Authors")) }}
{{ else }}
<div class="list-group">
	<div class="list-group-item">
	<div class="row clearfix">
	{{ if (not .Params.author) }}
		{{ $name := $.Site.Author.name }}
		{{ range (index $.Site.Sections "author").Pages }}
			{{ if (eq .Params.name $name) }}
				{{ $author := .Params }}
				<div class="col-xs-4 col-sm-4 col-md-12 column">
					<div class="thumbnail">
						<a href="/author/{{ $author.name | lower | urlize }}"><img src="{{ $author.avatar }}" title="{{ $author.name }}"
						 class="img-responsive center-block"></a>
					</div>
				</div>
				<div class="col-xs-8 col-sm-8 col-md-12 column">
					<p class="text-justify">{{ .Summary }}</p>
				</div>
			{{ end }}
		{{ end }}
	{{ else }}
		{{ $name := (index $.Params.author 0) }}
		{{ range (index $.Site.Sections "author").Pages }}
			{{ if (eq .Params.name $name) }}
				{{ $author := .Params }}
				<div class="col-xs-4 col-sm-4 col-md-12 column">
					<div class="thumbnail">
						<a href="/author/{{ $author.name | lower | urlize }}"><img src="{{ $author.avatar }}" title="{{ $author.name }}"
						 class="img-responsive center-block"></a>
					</div>
				</div>
				<div class="col-xs-8 col-sm-8 col-md-12 column">
					<p class="text-justify">{{ .Summary }}</p>
				</div>
			{{ end }}
		{{ end }}
	{{ end }}
	</div>
	</div>
</div>
{{ end }}

