{{ partial "header.html" . }}

<div class="col-md-9 column">
	<div class="voffset-20"></div>
	<div class="container"><h1>{{ .Title | title }}</h1></div>
	<div class="section panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="voffset-10"></div>
				<ul class="breadcrumb list-unstyled">
					<li><a href="{{ $.Site.BaseUrl }}">Home </a>
						<span class="divider"></span></li>
					<li><a href="{{ $.Site.BaseUrl }}/series" class="active"> Series</a>
						<span class="divider"></span></li>
					<li class="active">{{ .Title }}</li>
				</ul>
				<div class="voffset-30"></div>
			</div>
		</div>
		<ul class="list-group list-unstyled">
		{{ range .Data.Pages }}<!--Most Recent on bottom-->
			{{ if (eq .Permalink $.Permalink )}}
				<a href="{{ .Permalink }}" class="list-group-item list-group-item-info">
			{{ else }}
				<a href="{{ .Permalink }}" class="list-group-item">
			{{ end }}
				{{ .Title }}
				<div class="pull-right">{{ .Date.Format "Jan 02" }}</div>
			</a>
		{{ end }}
		</ul>
		<div class="panel-footer">
			{{ partial "share_buttons.html" . }}
			{{ partial "comments_ondemand.html" . }}
		</div>
	</div>
</div>

<div class="content-secondary col-md-3 column">{{ partial "sidebar.html" . }}</div>
{{ partial "footer.html" . }}


