{{ $site := .Site.Data.config.site }}
{{ $section := or (index .Site.Data.config (or .Section (or .Data.Singular (.Title|lower)))) .Params }}
{{ $theme := (index .Site.Data.addons (or .Params.theme (or $section.theme $site.theme))).theme }}

<footer class="footer {{ with $theme.footer.class }}{{ . }}{{ end }}">
<div class="container">
<div class="row clearfix">
	<div class="col-xs-12 column">
		<p class="footer-text credit"><small>
			&copy; {{ .Now.Format "2006" }}
			{{ with (or .Params.author (or $section.author $site.author)) }}
				<a class="text-info" href="{{ $.Site.BaseURL }}">{{ . }}</a>.
			{{end}}
			{{ with (or $section.msg.copyright (or $site.msg.copyright .Site.Copyright)) }}
				<copyright>{{.}}</copyright>
			{{end}}
		</small></p>
	</div>
</div>
</div>
</footer>

