
<!--
	Photo allows you to embed an image on the page with a link to popup the
		image in a Magnific Popup lightbox viewer.
	Note, photos can be embedded within a `gallery` shortcode.

{{/*
	Usage:
		{{< photo src="/img/mypic.png" title="My Picture!" thumb="/img/mypic_thumb.png" >}}
*/}}
	
	Parameters:
		src	- (required) Image to be linked to
		title - `title` attribute for link
		caption - Displayed with `title` in popup
		thumb - Image which is used as the link to popup the `src` image
				Defaults to `src`
		no_thumb - Don't use an image to represent the popup link
		
		no_inline - Don't set the thumbnail's display as 'inline-block' 
		class - Class attribute for the thumbnail's img element
				Note, 'display:inline-block;' is used unless you set 'no_inline'
		id - Id attribute for the thumbnail's img element
		style - Style attribute for the thumbnail's img element
		alt - Alt attribute for the thumbnail
		no_responsive - Disable the image from being responsive
		width - Width used to display the thumbnail image
		height - Height used to display the thumbnail image
		
		link_text - Shown if `no_thumb` is specified
		link_class - Class attribute(s) for the link element
		link_id - Id attribute for the link element
-->


<a {{ with .Get "src" }}href="{{ . }}"{{ end }}
	{{ with .Get "title" }}title="{{ . }}"{{ end }}
	{{ with .Get "caption" }}data-caption="{{ . }}"{{ end }}
	{{ with .Get "link_class" }}class="magnific-photo mfp-image {{ . }}"
		{{ else }}class="magnific-photo mfp-image"{{ end }}
	{{ with .Get "link_id" }}id="{{ . }}"{{ end }}
>
	{{ if (not (.Get "no_thumb")) }}
		{{ $thumb := (or (.Get "thumb") (.Get "src")) }}
		<img src="{{ $thumb }}"
			class="{{ if (not (.Get "no_responsive")) }}img-responsive{{ end }}
				{{ .Get "class" }}"
			{{ with .Get "id" }}id="{{ . }}"{{ end }}
			
			{{ if (not (.Get "no_inline")) }}
				style="display: inline-block; {{ .Get "style" }}"
			{{ else }}
				{{ with .Get "style" }}style="{{ . }}"{{ end }}
			{{ end }}
			{{ with .Get "alt" }}alt="{{ . }}"{{ end }}
			{{ with .Get "width" }}width="{{ . }}"{{ end }}
			{{ with .Get "height" }}height="{{ . }}"{{ end }}
		></img>
	{{ end }}
	{{ .Get "link_text" }}
</a>



