<!--
	This popup shortcode creates a popup containing custom inline HTML code.
	See documentation for more details:
		'docs/shortcodes/popup.md'
-->


{{ if .Get "id" }}
<div id="{{ .Get "id" }}" class="container popup-container mfp-hide {{ .Get "popup_class" }}"
{{ with .Get "popup_style" }}style="{{ . | safeCss }}"{{ end }}>
	{{ .Inner }}
</div>

<!-- Link that opens the popup -->
<a href="" class="magnific-popup mfp-inline {{ .Get "link_class" }}" data-mfp-src="#{{ .Get "id" }}"
{{ with .Get "link_style" }}style="{{ . | safeCss }}"{{ end }}>
	{{ .Get "link_text" | safeHtml }}
	{{ .Get "link_html" | safeHtml }}
</a>
{{ end }}


