<!--
	Uses Bootstap to show a clickable panel that reveals it's content

{{/*
	Usage:
		{{< spoiler text="Click to reveal text" >}}You found me!{{ /spoiler }}
*/}}
	
	Either `text` or `id` is required. 
	Parameters:
		text - Text that is displayed on the panel's header
		open - If "true", the content is shown by default
		
		id - Id attribute for the collapsible element.
			Should be used if `text` is really long
		class - Class attribute for the outer-most div tag
		style - Style attribute for the outer-most div tag
	
	Notes:
		Outer div tag contains a 'spoiler' class attribute.
		The id of the collapsible element will either by the `id` parameter, or
			the `text` parameter in 'lowercase-urlized-form'.
-->

<div class="spoiler panel panel-default {{ .Get "class" }}"
{{ with .Get "style" }}style="{{ . }}"{{ end }}>
	<div class="panel-heading">
		<a class="collapsed" data-toggle="collapse"
			style="display:block;{{ if (not (.Get "text")) }}text-decoration:none;{{ end }}"
			{{ with .Get "id" }}href="#{{ . }}"
			{{ else }}href="#{{ .Get "text" | lower | urlize }}"{{ end }}
		>
			{{ with .Get "text" }}{{ . }}{{ else }}&nbsp;{{ end }}
		</a>
	</div>
	{{ if .Inner }}
	<div class="panel-collapse collapse {{ if (eq (.Get "open") "true") }}in{{ end }}"
		{{ with .Get "id" }}id="{{ . }}"
		{{ else }}id="{{ .Get "text" | lower | urlize }}"{{ end }}
	>
		<div class="panel-body">{{ .Inner }}</div>
	</div>
	{{ end }}
</div>


