<!--
	Embed a 'post' within the content area. This is designed for the 'stream'
		section. Posts can be embedded within other posts.
	
{{/*
	USAGES:
		{{< stream text="" date="" >}}{{< /stream >}}
		or:
		{{< stream text="" date="" >}}
			{{< photo title="Embedded image" src="http://lorempixel.com/300/300/cats/" >}}
		{{< /stream >}}
*/}}
	
	Parameters:
		text - Message body of the post, may contain
		date - Date of the post in the format "Jan 02 2006"
		link - Turns the text(unless link_text is defined) into a link to this address
		link_text - Text added at the end of `text` and links to `link`.
				Won't be shown if `link` isn't set
		style - Style attribute of the stream's text
	
	Notes:
		Stream posts can be embedded within another stream post.
			This is why all stream shortocodes must be closed with `/stream`.
		Streams can be themed with CSS by targetting `stream-content`,
			`stream-text`, `stream-date`, and `stream-inner` classes.
	
	Todo:
		twitter - Specify that this post is from twitter
				Need to get Twitter username, show Twitter logo
				use a twitter avatar? it should be the same as author's avatar
		Need to access .Page parameter...
-->

<div class="list-group-item stream-content">
	{{ with .Get "date" }}<small class="pull-right stream-date"><div class="voffset10"></div>{{ . }}</small>{{ end }}
	
	<h4 class="stream-text" {{ with .Get "style" }}style="{{ . }}"{{ end }}>
	{{ if .Get "link" }}
		{{ if .Get "link_text" }}
			{{ .Get "text" }} -
			<a href="{{ .Get "link" }}">{{ .Get "link_text" }}</a>
		{{ else }}
			<a href="{{ .Get "link" }}">{{ .Get "text" }}</a>
		{{ end }}
	{{ else }}
		{{ .Get "text" }}
	{{ end }}
	</h4>
	
	{{ if .Inner }}
	<div class="stream-inner">
		<!--<hr/>-->
		<div class="voffset20"></div>
		{{ .Inner }}
	</div>
	{{ end }}
</div>


